.ContCores {
  padding-bottom: var(--cui-card-spacer-y);

  display: flex;

  flex-direction: column;
  gap: 15px;

  .titleCores {
    padding-left: 0;
  }

  .buttons {
    :active,
    :hover,
    :focus {
      outline: 0 !important;
      outline-offset: 0;
    }
    ::before,
    ::after {
      position: absolute;
      content: "";
    }

    padding-top: 0 !important;

    .btn {
      position: relative;
      display: inline-block;
      width: 100%;
      height: auto;
      background-color: transparent;
      border: none;
      cursor: pointer;
      min-width: 150px;
    }

    .btn span {
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }

    /*--- btn-3 ---*/
    .btn-3 {
      padding: 5px;
    }

    .btn-3 .black {
      color: rgb(255, 255, 255);
      background-color: black;
    }

    .btn-3 .grey11 {
      color: rgb(255, 255, 255);
      background-color: #1c1c1c;
    }

    .btn-3 .grey21 {
      color: rgb(255, 255, 255);
      background-color: #363636;
    }

    .btn-3 .grey31 {
      color: rgb(255, 255, 255);
      background-color: #4f4f4f;
    }

    .btn-3 .dimGray {
      color: rgb(255, 255, 255);
      background-color: #696969;
    }

    .btn-3 .gray {
      color: rgb(255, 255, 255);
      background-color: #808080;
    }

    .btn-3 .darkGray {
      color: rgb(255, 255, 255);
      background-color: #a9a9a9;
    }

    .btn-3 .silver {
      color: rgb(255, 255, 255);
      background-color: #c0c0c0;
    }

    .btn-3 .lightGrey {
      color: rgb(255, 255, 255);
      background-color: #d3d3d3;
    }

    .btn-3 .gainsboro {
      color: rgb(255, 255, 255);
      background-color: #dcdcdc;
    }

    .btn-3 .slateBlue {
      color: rgb(255, 255, 255);
      background-color: #6a5acd;
    }

    .btn-3 .slateBlue1 {
      color: rgb(255, 255, 255);
      background-color: #836fff;
    }

    .btn-3 .slateBlue3 {
      color: rgb(255, 255, 255);
      background-color: #6959cd;
    }

    .btn-3 .darkSlateBlue {
      color: rgb(255, 255, 255);
      background-color: #483d8b;
    }

    .btn-3 .midnightBlue {
      color: rgb(255, 255, 255);
      background-color: #191970;
    }

    .btn-3 .navy {
      color: rgb(255, 255, 255);
      background-color: #000080;
    }

    .btn-3 .darkBlue {
      color: rgb(255, 255, 255);
      background-color: #00008b;
    }

    .btn-3 .mediumBlue {
      color: rgb(255, 255, 255);
      background-color: #0000cd;
    }

    .btn-3 .blue {
      color: rgb(255, 255, 255);
      background-color: #0000ff;
    }

    .btn-3 .cornflowerBlue {
      color: rgb(255, 255, 255);
      background-color: #6495ed;
    }

    .btn-3 .royalBlue {
      color: rgb(255, 255, 255);
      background-color: #4169e1;
    }

    .btn-3 .dodgerBlue {
      color: rgb(255, 255, 255);
      background-color: #1e90ff;
    }

    .btn-3 .deepSkyBlue {
      color: rgb(255, 255, 255);
      background-color: #00bfff;
    }

    .btn-3 .lightSkyBlue {
      color: rgb(255, 255, 255);
      background-color: #87cefa;
    }

    .btn-3 .skyBlue {
      color: rgb(255, 255, 255);
      background-color: #87ceeb;
    }

    .btn-3 .lightBlue {
      color: rgb(255, 255, 255);
      background-color: #add8e6;
    }

    .btn-3 .steelBlue {
      color: rgb(255, 255, 255);
      background-color: #4682b4;
    }

    .btn-3 .lightSteelBlue {
      color: rgb(255, 255, 255);
      background-color: #b0c4de;
    }

    .btn-3 .slateGray {
      color: rgb(255, 255, 255);
      background-color: #708090;
    }

    .btn-3 .lightSlateGray {
      color: rgb(255, 255, 255);
      background-color: #778899;
    }

    .btn-3 .aqua-Cyan {
      color: rgb(255, 255, 255);
      background-color: #00ffff;
    }

    .btn-3 .darkTurquoise {
      color: rgb(255, 255, 255);
      background-color: #00ced1;
    }

    .btn-3 .turquoise {
      color: rgb(255, 255, 255);
      background-color: #00ced1;
    }

    .btn-3 .mediumTurquoise {
      color: rgb(255, 255, 255);
      background-color: #48d1cc;
    }

    .btn-3 .lightSeaGreen {
      color: rgb(255, 255, 255);
      background-color: #20b2aa;
    }

    .btn-3 .darkCyan {
      color: rgb(255, 255, 255);
      background-color: #008b8b;
    }

    .btn-3 .teal {
      color: rgb(255, 255, 255);
      background-color: #008080;
    }

    .btn-3 .aquamarine {
      color: rgb(255, 255, 255);
      background-color: #7fffd4;
    }

    .btn-3 .mediumAquamarine {
      color: rgb(255, 255, 255);
      background-color: #66cdaa;
    }

    .btn-3 .cadetBlue {
      color: rgb(255, 255, 255);
      background-color: #5f9ea0;
    }

    .darkSlateGray {
      color: rgb(255, 255, 255);
      background-color: #2f4f4f;
    }

    .mediumSpringGreen {
      color: rgb(255, 255, 255);
      background-color: #00fa9a;
    }
    .springGreen {
      color: rgb(255, 255, 255);
      background-color: #00ff7f;
    }
    .paleGreen {
      color: rgb(255, 255, 255);
      background-color: #98fb98;
    }
    .lightGreen {
      color: rgb(255, 255, 255);
      background-color: #90ee90;
    }
    .darkSeaGreen {
      color: rgb(255, 255, 255);
      background-color: #8fbc8f;
    }
    .mediumSeaGreen {
      color: rgb(255, 255, 255);
      background-color: #3cb371;
    }
    .seaGreen {
      color: rgb(255, 255, 255);
      background-color: #2e8b57;
    }
    .darkGreen {
      color: rgb(255, 255, 255);
      background-color: #006400;
    }
    .green {
      color: rgb(255, 255, 255);
      background-color: #008000;
    }
    .forestGreen {
      color: rgb(255, 255, 255);
      background-color: #228b22;
    }
    .limeGreen {
      color: rgb(255, 255, 255);
      background-color: #32cd32;
    }
    .lime {
      color: rgb(255, 255, 255);
      background-color: #00ff00;
    }
    .lawnGreen {
      color: rgb(255, 255, 255);
      background-color: #7cfc00;
    }
    .chartreuse {
      color: rgb(255, 255, 255);
      background-color: #7fff00;
    }
    .greenYellow {
      color: rgb(255, 255, 255);
      background-color: #adff2f;
    }
    .yellowGreen {
      color: rgb(255, 255, 255);
      background-color: #9acd32;
    }
    .oliveDrab {
      color: rgb(255, 255, 255);
      background-color: #6b8e23;
    }
    .darkOliveGreen {
      color: rgb(255, 255, 255);
      background-color: #556b2f;
    }
    .olive {
      color: rgb(255, 255, 255);
      background-color: #808000;
    }

    .darkKhaki {
      color: rgb(255, 255, 255);
      background-color: #bdb76b;
    }
    .goldenrod {
      color: rgb(255, 255, 255);
      background-color: #daa520;
    }
    .darkGoldenrod {
      color: rgb(255, 255, 255);
      background-color: #b8860b;
    }
    .saddleBrown {
      color: rgb(255, 255, 255);
      background-color: #8b4513;
    }
    .sienna {
      color: rgb(255, 255, 255);
      background-color: #a0522d;
    }
    .rosyBrown {
      color: rgb(255, 255, 255);
      background-color: #bc8f8f;
    }
    .peru {
      color: rgb(255, 255, 255);
      background-color: #cd853f;
    }
    .chocolate {
      color: rgb(255, 255, 255);
      background-color: #d2691e;
    }
    .sandyBrown {
      color: rgb(255, 255, 255);
      background-color: #f4a460;
    }
    .navajoWhite {
      color: rgb(255, 255, 255);
      background-color: #ffdead;
    }
    .wheat {
      color: rgb(255, 255, 255);
      background-color: #f5deb3;
    }
    .burlyWood {
      color: rgb(255, 255, 255);
      background-color: #deb887;
    }
    .tan {
      color: rgb(255, 255, 255);
      background-color: #d2b48c;
    }

    .brown {
      color: rgb(255, 255, 255);
      background-color: #4b2f28;
    }

    .cafe {
      color: rgb(255, 255, 255);
      background-color: #a38068;
    }

    .mediumSlateBlue {
      background-color: #7b68ee;
      color: rgb(255, 255, 255);
    }
    .mediumPurple {
      background-color: #9370db;
      color: rgb(255, 255, 255);
    }
    .blueViolet {
      background-color: #8a2be2;
      color: rgb(255, 255, 255);
    }
    .indigo {
      background-color: #4b0082;
      color: rgb(255, 255, 255);
    }
    .darkViolet {
      background-color: #9400d3;
      color: rgb(255, 255, 255);
    }
    .darkOrchid {
      background-color: #9932cc;
      color: rgb(255, 255, 255);
    }
    .mediumOrchid {
      background-color: #ba55d3;
      color: rgb(255, 255, 255);
    }
    .purple {
      background-color: #a020f0;
      color: rgb(255, 255, 255);
    }
    .darkMagenta {
      background-color: #8b008b;
      color: rgb(255, 255, 255);
    }
    .fuchsia {
      background-color: #ff00ff;
      color: rgb(255, 255, 255);
    }
    .violet {
      background-color: #ee82ee;
      color: rgb(255, 255, 255);
    }
    .orchid {
      background-color: #da70d6;
      color: rgb(255, 255, 255);
    }
    .plum {
      background-color: #dda0dd;
      color: rgb(255, 255, 255);
    }

    .cornflower {
      background-color: #3e3677;
      color: rgb(255, 255, 255);
    }

    .palatinate {
      background-color: #65275d;
      color: rgb(255, 255, 255);
    }

    .mediumVioletRed {
      background-color: #c71585;
      color: rgb(255, 255, 255);
    }
    .deepPink {
      background-color: #ff1493;
      color: rgb(255, 255, 255);
    }
    .hotPink {
      background-color: #ff69b4;
      color: rgb(255, 255, 255);
    }
    .paleVioletRed {
      background-color: #db7093;
      color: rgb(255, 255, 255);
    }
    .lightPink {
      background-color: #ffb6c1;
      color: rgb(255, 255, 255);
    }
    .pink {
      background-color: #ffc0cb;
      color: rgb(255, 255, 255);
    }
    .lightCoral {
      background-color: #f08080;
      color: rgb(255, 255, 255);
    }
    .indianRed {
      background-color: #cd5c5c;
      color: rgb(255, 255, 255);
    }
    .crimson {
      background-color: #dc143c;
      color: rgb(255, 255, 255);
    }

    .maroon {
      background-color: #800000;
      color: rgb(255, 255, 255);
    }
    .darkRed {
      background-color: #8b0000;
      color: rgb(255, 255, 255);
    }
    .fireBrick {
      background-color: #b22222;
      color: rgb(255, 255, 255);
    }
    .brown {
      background-color: #a52a2a;
      color: rgb(255, 255, 255);
    }
    .salmon {
      background-color: #fa8072;
      color: rgb(255, 255, 255);
    }
    .darkSalmon {
      background-color: #e9967a;
      color: rgb(255, 255, 255);
    }
    .lightSalmon {
      background-color: #ffa07a;
      color: rgb(255, 255, 255);
    }
    .coral {
      background-color: #ff7f50;
      color: rgb(255, 255, 255);
    }
    .tomato {
      background-color: #ff6347;
      color: rgb(255, 255, 255);
    }
    .red {
      background-color: #ff0000;
      color: rgb(255, 255, 255);
    }

    .orangeRed {
      background-color: #ff4500;
      color: rgb(255, 255, 255);
    }

    .darkOrange {
      background-color: #ff8c00;
      color: rgb(255, 255, 255);
    }

    .orange {
      background-color: #ffa500;
      color: rgb(255, 255, 255);
    }

    .seigneurie {
      background-color: #e38c3c;
      color: rgb(255, 255, 255);
    }

    .fire {
      background-color: #dd571c;
      color: rgb(255, 255, 255);
    }

    .sandstone {
      background-color: #d67229;
      color: rgb(255, 255, 255);
    }

    .gold {
      background-color: #ffd700;
      color: rgb(255, 255, 255);
    }
    .yellow {
      background-color: #ffff00;
      color: rgb(0, 0, 0);
    }

    .burntYellow {
      background-color: #eead2d;
      color: rgb(255, 255, 255);
    }

    .pantone {
      background-color: #ffda29;
      color: rgb(255, 255, 255);
    }

    .khaki {
      background-color: #f0e68c;
      color: rgb(255, 255, 255);
    }

    .aliceBlue {
      background-color: #f0f8ff;
      color: rgb(0, 0, 0);
    }
    .ghostWhite {
      background-color: #f8f8ff;
      color: rgb(0, 0, 0);
    }
    .snow {
      background-color: #fffafa;
      color: rgb(0, 0, 0);
    }
    .seashell {
      background-color: #fff5ee;
      color: rgb(0, 0, 0);
    }
    .floralWhite {
      background-color: #fffaf0;
      color: rgb(0, 0, 0);
    }
    .whiteSmoke {
      background-color: #f5f5f5;
      color: rgb(0, 0, 0);
    }
    .beige {
      background-color: #f5f5dc;
      color: rgb(0, 0, 0);
    }
    .oldLace {
      background-color: #fdf5e6;
      color: rgb(0, 0, 0);
    }
    .ivory {
      background-color: #fffff0;
      color: rgb(0, 0, 0);
    }
    .linen {
      background-color: #faf0e6;
      color: rgb(0, 0, 0);
    }
    .cornsilk {
      background-color: #fff8dc;
      color: rgb(0, 0, 0);
    }
    .antiqueWhite {
      background-color: #faebd7;
      color: rgb(0, 0, 0);
    }
    .blanchedAlmond {
      background-color: #ffebcd;
      color: rgb(0, 0, 0);
    }
    .bisque {
      background-color: #ffe4c4;
      color: rgb(0, 0, 0);
    }
    .lightYellow {
      background-color: #ffffe0;
      color: rgb(0, 0, 0);
    }
    .lemonChiffon {
      background-color: #fffacd;
      color: rgb(0, 0, 0);
    }
    .lightGoldenrodYellow {
      background-color: #fafad2;
      color: rgb(0, 0, 0);
    }
    .papayaWhip {
      background-color: #ffefd5;
      color: rgb(0, 0, 0);
    }
    .peachPuff {
      background-color: #ffdab9;
      color: rgb(0, 0, 0);
    }
    .moccasin {
      background-color: #ffe4b5;
      color: rgb(0, 0, 0);
    }
    .paleGoldenrod {
      background-color: #eee8aa;
      color: rgb(0, 0, 0);
    }
    .mistyRose {
      background-color: #ffe4e1;
      color: rgb(0, 0, 0);
    }
    .lavenderBlush {
      background-color: #fff0f5;
      color: rgb(0, 0, 0);
    }
    .lavender {
      background-color: #e6e6fa;
      color: rgb(0, 0, 0);
    }
    .thistle {
      background-color: #d8bfd8;
      color: rgb(0, 0, 0);
    }
    .azure {
      background-color: #f0ffff;
      color: rgb(0, 0, 0);
    }
    .lightCyan {
      background-color: #e0ffff;
      color: rgb(0, 0, 0);
    }
    .powderBlue {
      background-color: #b0e0e6;
      color: rgb(0, 0, 0);
    }
    .paleTurquoise {
      background-color: #afeeee;
      color: rgb(0, 0, 0);
    }
    .honeydew {
      background-color: #f0fff0;
      color: rgb(0, 0, 0);
    }
    .mintCream {
      background-color: #f5fffa;
      color: rgb(0, 0, 0);
    }

    .dyrup {
      background-color: #f2f2f0;
      color: rgb(0, 0, 0);
    }

    .whiteChocolate {
      background-color: #eee6dc;
      color: rgb(0, 0, 0);
    }

    .white {
      background-color: white;
      color: rgb(0, 0, 0);
    }

    .transparent {
      background-color: transparent;
      color: rgb(0, 0, 0);
    }

    .cultured {
      background-color: #faf6f3;
      color: rgb(0, 0, 0);
    }

    .btn-3::before,
    .btn-3::after {
      background: transparent;
      z-index: 2;
    }

    /* 12. hover-border-2 */
    .btn.hover-border-2::before,
    .btn.hover-border-2::after {
      width: 10%;
      height: 25%;
      transition: 0.35s;
    }
    .btn.hover-border-2::before {
      bottom: 0;
      left: 0;
      border-left: 1px solid rgb(28, 31, 30);
      border-bottom: 1px solid rgb(28, 31, 30);
    }
    .btn.hover-border-2::after {
      top: 0;
      right: 0;
      border-right: 1px solid rgb(28, 31, 30);
      border-top: 1px solid rgb(28, 31, 30);
    }
    .btn.hover-border-2:hover::before,
    .btn.hover-border-2:hover::after {
      width: 100%;
      height: 100%;
    }
  }
}
